<nav class="navbar navbar-default">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Reddit.js</a>

    <a href="/posts/new" class="btn btn-primary navbar-btn">New Post</a>

    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="/logout">Logout</a>
      </li>
      <li>
        <a href="/login">Login</a>
      </li>
      <li>
        <a href="/sign-up">Sign Up</a>
      </li>
    </ul>
  </div>
</nav>