<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <p>Success! If there is a user found with that username, you can change the password with this link.</p>
        <a href="{{link}}">Here</a>
        <p>normally this link would be emailed to you for security reasons, but do not have an email client set up for this currently, nor do i want to at the moment</p>
    </div>
</div>