<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <form action="/update-password/{{token}}" method="post">
            <legend>Forgot Password?</legend>
            <p>If there is a user with this username found, the password will update.</p>
            <p>
                This obviously is not secure, but do not currently have implementation setup to use a users email to send them a secure password reset link.
                Which for obvious reasons would be 1,000,000 times better
            </p>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" class="form-control" id="username" placeholder="Username">
            </div>

            <div class="form-group">
                <label for="password">New Password</label>
                <input name="password" type="text" class="form-control" id="password" placeholder="Password">
            </div>

            <div class="form-group">
                <label for="confirm-password">Confirm Password</label>
                <input name="confirm" type="text" class="form-control" id="confirm" placeholder="Confirm Password">
            </div>
            
            <div class='text-right'>
                <button type="submit" class="btn btn-primary">Update Password</button>
            </div>
        </form>
    </div>
</div>